@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Urbanist:ital,wght@0,300;1,100&display=swap');

body{
   
    font-family: 'Urbanist', sans-serif;
    overflow: hidden;
    background-color: lightgreen;
   
}
a{
    text-decoration: none;
    color: currentColor;
}
a:hover{
    color: currentColor;
}
header{
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow:0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}
header .container-fluid{
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
header .navb.logo img{
    width: 140px;
    height: 66px;
}
header .navb-items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}
header .items{
    text-align: center;
    margin-inline: 15%;
    font-size: 15px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top:0px solid #64d6f4;
    cursor: pointer;

}
header .items:hover{
    border-bottom:3px solid #64d6f4;
    border-top:3px solid #64d6f4;
}
header .item-button a{
    background-color: #274d8a;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all .5s ease;
    border-radius: 10px;
}
header .item-button a:hover{
    background-color: #64d6f4;

}
.imagem img{
    width: 1400px;
    height: 480px;
}

